name: shiny
channels:
  - ohsu-comp-bio
  - conda-forge
  - leej3
  - https://fnlcr-dmap.github.io/scimap/
dependencies:
  - python=3.9.13
  - numpy=1.26.4
  - pandas=1.5.3
  - anndata=0.10.9
  - scanpy=1.10.3
  - zarr=2.10.3
  - scikit-learn=1.1.1
  - matplotlib=3.9.2
  - seaborn=0.13.2
  - pillow=10.4.0
  - squidpy=1.2.2
  - scikit-image=0.19.3
  - scipy=1.10.1
  - pip
  - pip:
      - colorcet
      - git+https://github.com/holoviz/datashader.git
      - ipykernel==6.29.5
      - ipython==8.18.0
      - ipython-genutils==0.2.0
      - ipywidgets==8.1.3
      - jsonschema-specifications==2023.12.1
      - jupyter-events==0.10.0
      - jupyter_client==7.4.9
      - jupyter_core==5.7.2
      - jupyter_server==2.14.1
      - jupyter_server_terminals==0.5.3
      - jupyterlab_pygments==0.3.0
      - jupyterlab_widgets==3.0.11
      - nbclient==0.10.0
      - nbconvert==7.16.4
      - nbformat==5.10.4
      - notebook==6.5.7
      - notebook_shim==0.2.4
      - phenograph==1.5.7
      - plotly==5.22.0
      - python-dateutil==2.9.0.post0
      - python-json-logger==2.0.7
      - requests==2.32.3
      - rpds-py==0.19.0
      - rsconnect==0.1.3
      - rsconnect-jupyter==1.8.0
      - rsconnect_python==1.24.0
      - shiny==0.10.2
      - shinyswatch==0.6.1
      - shinywidgets==0.3.2
      - sinfo==0.3.4
      - tables==3.8.0
      - tinycss2==1.3.0
      - tqdm==4.66.4
      - typeguard==4.3.0
      - types-python-dateutil==2.9.0.20240316
      - typing_extensions==4.12.2
      - websocket-client==1.8.0
      - websockets==12.0
      - zipp==3.19.2
      - tifffile
      - sag-py-execution-time-decorator @ git+https://github.com/SamhammerAG/sag_py_execution_time_decorator.git@976c9683d561aadc0166495117c42cc1762633d7
      - spac @ git+https://github.com/FNLCR-DMAP/SCSAWorkflow.git@76f381316acd57ff9fbe3e5bea4e37b0a9ae3dd9#egg=spac
